<div class="container-fluid animated fadeInUp">
    <div class="row">
        <div class="col-6 animated fadeInLeft">
            <div class="row">
                <div class="col-6">
                    <br>
                    <h4 class="text-justify text-dark">Contáctanos:</h4>

                    <h6><i class="fas fa-thumbtack"></i> &nbsp;Via Augusta, 319 - <br>08017 Barcelona </h6>
                    <h6><i class="fas fa-phone"></i>&nbsp;93 203 71 76</h6>
                    <h6><i class="fab fa-whatsapp"></i>&nbsp;+34 676 091 350</h6>
                    <h6><i class="fas fa-envelope-open"></i>&nbsp;escuela@gmail.com</h6>
                    <br>
                    <h6><i class="fas fa-file-contract"></i>&nbsp;Política de Privacidad</h6>
                    <h6><i class="fas fa-file-contract"></i>&nbsp;Términos y Condiciones</h6>
                    <h6><i class="fas fa-file-contract"></i>&nbsp;Aviso Legal</h6>
                    <small>&copy;2018 YISBELL S.L</small>
                </div>
                <div class="col-6">
                    <a id="cabecera" class="navbar-brand text-left animated zoomIn "><strong id="header">Yisbell Dance</strong><br><small><small class="text-muted">Academia de Baile - Ballet Clásico <br>- Danza Contemporánea</small></small></a>
                    <div class="form-inline my-2 my-lg-0 text-left">
                        <p class="text-left">Escuela de danza autorizada por el Departament d'Educació de la Generalitat de Catalunya <br>- Registro N° 08056183. Miembro de la Royal Academy of Dancing <br>- Miembro de la Asociación de escuelas de danza autorizadas por la
                            Generalitat de Catalunya.</p>
                    </div>
                    <div id="redes" class="form-inline my-1 my-sm-0">
                        <a class="navbar-brand text-muted" href="#">
                            <i class="fab fa-facebook-f fa-xs"></i>
                        </a>
                        <a class="navbar-brand text-muted" href="#">
                            <i class="fab fa-google fa-xs"></i>
                        </a>
                        <a class="navbar-brand text-muted" href="#">
                            <i class="fab fa-linkedin-in fa-xs"></i>
                        </a>
                        <a class="navbar-brand text-muted" href="#">
                            <i class="fab fa-twitter fa-xs"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div id="derecha" class="col-6 text-center text-white animated fadeInRight">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2992.8478552541605!2d2.121968214830124!3d41.39911037926307!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a498404f06d685%3A0xda620e63846c6743!2sEscuela+de+Danza+Barcelona+Yisbell!5e0!3m2!1ses!2ses!4v1533653823512"
                width="600" height="330" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

    </div>

</div>