<app-navbar-home></app-navbar-home>
<div id="containerBanner" class="card text-white">
    <img class="img-fluid" src="assets/img/equipobanner.jpg">
    <div class="card-img-overlay">
        <h5 class="card-title">YISBELL DANCE</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text">Last updated 3 mins ago</p>
    </div>
</div>

<h1 id="header" class="text-center">
    <small id="small" class="text-muted">Todos los Profesores están altamente cualificados para desarrollar el PCC (Proyecto Curricular de Clase)</small>
    <br> NUESTRO EQUIPO
</h1>

<div class="container-fluid">

    <div class="row text-center">

        <div class="col-1"></div>

        <div class="col-5">

            <div class="card border-light">
                <img class="card-img-top" src="assets/img/team/graciana-morillas.png" alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-title text-dark">Graciana Morillas</h5>
                    <p class="card-text text-muted">Directora</p>
                </div>
            </div>

        </div>

        <div class="col-5">

            <div class="card border-light">
                <img class="card-img-top" src="assets/img/team/ezequiel-pituelli.png" alt="Card image cap">
                <div class="card-body text-center">
                    <h5 class="card-title text-dark">Ezequiel Pituelli</h5>
                    <p class="card-text text-muted">Director Ejecutivo</p>
                </div>
            </div>

        </div>

        <div class="col-1"></div>

    </div>



</div>





<div class="container-fluid">

    <div class="row text-center">
        <div class="col-3">

            <div class="card border-light">
                <img class="card-img-top" src="assets/img/team/yisbell-pituelli.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-dark">Yisbell Pituelli</h5>
                    <p class="card-text text-muted">Profesora Claqué</p>

                </div>
            </div>

        </div>
        <div class="col-3">

            <div class="card border-light">
                <img class="card-img-top" src="assets/img/team/anabel-pituelli.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-dark">Anabel Pituelli</h5>
                    <p class="card-text text-muted">Profesora Clásico, Contemporáneo, Heels y Funky-Jazz</p>

                </div>
            </div>

        </div>
        <div class="col-3">

            <div class="card border-light">
                <img class="card-img-top" src="assets/img/team/marta-romero.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-dark">Marta Romero</h5>
                    <p class="card-text text-muted">Profesora Clásico</p>

                </div>
            </div>

        </div>
        <div class="col-3">



        </div>



    </div>

</div>

<!--=========================================================================-->
<div class="container-fluid">

    <div class="row text-center">
        <div class="col-3">

            <!-- <div class="card">
                <img class="card-img-top" src="assets/img/team/marta-de-benito.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-dark">Marta de Benito</h5>
                    <p class="card-text text-muted">Profesora Funky-Jazz</p>

                </div>
            </div> -->

        </div>
        <div class="col-3">

            <!-- <div class="card">
                <img class="card-img-top" src="assets/img/team/anna-vela.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-dark">Anna Vella</h5>
                    <p class="card-text text-muted">Profesora Clásico</p>

                </div>
            </div> -->

        </div>
        <div class="col-3">

            <!-- <div class="card">
                <img class="card-img-top" src="assets/img/team/goretti-valverde.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-dark">Goretti Valverde</h5>
                    <p class="card-text text-muted">Profesora Clásico y Funky-Jazz</p>
                </div>
            </div> -->

        </div>
        <div class="col-3">

            <!-- <div class="card">
                <img class="card-img-top" src="assets/img/team/carlos-catalan.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-dark">Carlos Catalán</h5>
                    <p class="card-text text-muted">Profesor Zumba y Salsa</p>

                </div>
            </div> -->

        </div>



    </div>

</div>

<!--=========================================================================-->
<div class="container-fluid">

    <div class="row text-center">
        <div class="col-3">

            <!-- <div class="card">
                <img class="card-img-top" src="assets/img/team/laura-fernandez.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-dark">Laura Fernández</h5>
                    <p class="card-text text-muted">Profesora de Clásico</p>

                </div>
            </div> -->

        </div>
        <div class="col-3">

            <!-- <div class="card">
                <img class="card-img-top" src="assets/img/team/nadia_marinoff.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-dark">Nadia Marinoff</h5>
                    <p class="card-text text-muted">Profesora de Clásico</p>

                </div>
            </div> -->

        </div>
        <div class="col-3">

            <div class="card border-light">
                <img class="card-img-top" src="assets/img/team/cane.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-dark">Cané Allesta</h5>
                    <p class="card-text text-muted">Marketing & Desarrollo</p>
                </div>
            </div>

        </div>
        <div class="col-3">



        </div>



    </div>

</div>
<br><br><br>
<app-footer></app-footer>