ul li a {
    color: black;
    font-weight: 600;
    font-size: 120%;
}

ul li a:hover {
    color: #f02c60;
}

#cabecera {
    margin-left: -10px;
    margin-right: 70px;
}

#matriculate {
    margin-right: 70px;
    background-color: #f02c60;
    color: white;
}

#header {
    color: #f02c60;
}