small {
    color: grey;
}

#navbar {
    background-color: black;
    position: fixed;
}

#cabecera {
    margin-left: -10px;
    margin-right: 70px;
    color: #f02c60;
}

#matriculate {
    background-color: #f02c60;
}