<nav id="navbar" class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand animated fadeInLeft" href="#">
        <img src="../../../assets/img/logo.jpeg" width="160" height="90" alt="">
    </a>
    <a id="cabecera" class="navbar-brand text-left animated zoomIn " href="#">Yisbell Dance <br><small>Academia de Baile - Ballet Clásico - Danza Contemporánea</small></a>
    <a class="navbar-brand text-center animated zoomIn " href="#"><i class="fas fa-users fa-xs"></i>&nbsp;Quienes somos? <br><small>Desde 1986 en Sarriá</small></a>
    <a class="navbar-brand text-center animated zoomIn " href="#"><i class="fas fa-book-reader fa-xs"></i>&nbsp;Nuestros Cursos <br><small>Plazas Disponibles</small></a>
    <a class="navbar-brand text-center animated zoomIn " href="#"><i class="fas fa-map-pin fa-xs"></i>&nbsp;Donde Estamos? <br><small>Mire nuestra Ubicación</small></a>
    <button href="#sectionClases" id="matriculate" type="button" class="btn my-2 my-lg-0 animated fadeInRight">Matricúlate</button>
</nav>