<!--================Post Slider Area =================-->
<section id="sectionClases" class="post_slider_area">
    <div class="post_slider_inner owl-carousel">
        <div id="item" class="item">
            <div class="post_s_item">
                <div class="post_img">
                    <img src="assets/img/adulto2.jpg" alt="">
                </div>
                <div class="post_text">

                    <a>
                        <h1>Clases de Danza</h1>
                    </a>
                    <div [routerLink]="['/adultos']" id="clase" class="text-left">
                        <h1>Adultos &nbsp;<i id="arrows" class="fas fa-arrow-down fa-xs animated fadeInDown"></i></h1>
                    </div>
                    <p>En nuestras clases de danza para mayores y adultos nuestros alumnos aprenden a bailar y adquieren el gusto por los diversos estilos de baile.</p>
                    <div class="date">
                        <a><i class="fa fa-calendar" aria-hidden="true"></i> March 14, 2018</a>

                    </div>
                </div>
            </div>
        </div>
        <div id="item" class="item">
            <div class="post_s_item">
                <div class="post_img">
                    <img src="assets/img/joven2.jpg" alt="">
                </div>
                <div class="post_text">

                    <a>
                        <h1>Clases de Danza </h1>
                    </a>
                    <div [routerLink]="['/jove']" id="claseJov" class="text-left">
                        <h1>Jóvenes &nbsp;<i id="arrows" class="fas fa-arrow-right fa-xs animated fadeInLeft"></i></h1>
                    </div>
                    <p>En nuestras clases de danza para jovenes nuestras alumnas y alumnos adquieren el placer por aprender a bailar. </p>
                    <div class="date">
                        <a><i class="fa fa-calendar" aria-hidden="true"></i> March 14, 2018</a>

                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="post_s_item">
                <div class="post_img">
                    <img src="assets/img/nene2.jpg" alt="">
                </div>
                <div class="post_text">

                    <a>
                        <h1>Clases de Danza </h1>
                    </a>
                    <div [routerLink]="['/kids']" id="claseKids" class="text-left">
                        <h1>Kids &nbsp;<i id="arrows" class="fas fa-arrow-right fa-xs animated fadeInLeft"></i></h1>
                    </div>
                    <p>Nuestros alumnos de clases de danza infantiles disfrutan de clases de danza programadas especialmente para cada edad.</p>
                    <div class="date">
                        <a><i class="fa fa-calendar" aria-hidden="true"></i> March 14, 2018</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>