<h1 id="header" class="text-center">
    <small id="small" class="text-muted">Mejora tus habilidades</small>
    <br> CLASES PARTICULARES
</h1>


<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h2 class="card-title text-right">01.</h2>
                    <h6 id="subtitulo" class="card-subtitle mb-2 text-right">COREOGRAFÍA PARA NOVIOS</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h2 class="card-title text-right">02.</h2>
                    <h6 id="subtitulo" class="card-subtitle mb-2 text-right">A MEDIDA</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <img id="dancer" src="assets/img/dancer.jpg" alt="">
        </div>
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h2 class="card-title text-left">03.</h2>
                    <h6 id="subtitulo" class="card-subtitle mb-2 text-left">PERSONAL TRAINING & BODY COACH</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h2 class="card-title text-left">04.</h2>
                    <h6 id="subtitulo" class="card-subtitle mb-2 text-left">CORRECIÓN POSTURAL</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<h1 id="header" class="text-center">
    <small id="small" class="text-muted">Alcanza tu mejor versión</small>
    <br> FORMACIÓN PROFESIONAL
</h1>
<section id="section2" class="container-fluid">

    <div id="row" class="row">

        <div id="col" class="col-6">
            <div id="card" class="card text-dark text-center">
                <img id="left" class="card-img" src="assets/img/bailarines3.jpg">
                <div id="text1" class="card-img-overlay">
                    <h1 class="card-title">PROFESORES</h1>
                    <p class="card-text">This is a wider card with supporting</p>
                    <div class="row">
                        <div id="btn1" class="col-6">
                            <div id="claseJov" class="text-center">
                                <h1>Temario</h1>
                            </div>
                        </div>
                        <div id="btn2" class="col-6">
                            <div id="claseJov" class="text-center">
                                <h1>Horario &nbsp;<i id="arrows" class="fas fa-arrow-down fa-xs animated fadeInLeft"></i></h1>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div id="col" class="col-6">
            <div id="card" class="card text-dark text-center">
                <img class="card-img" src="assets/img/profe4.jpg">
                <div id="text2" class="card-img-overlay">
                    <h1 class="card-title">BAILARINES</h1>
                    <p class="card-text">This is a wider card with supporting </p>
                    <div class="row">
                        <div id="btn3" class="col-6">
                            <div id="claseJov" class="text-center">
                                <h1>Estilos</h1>
                            </div>
                        </div>
                        <div id="btn4" class="col-6">
                            <div id="claseJov" class="text-center">
                                <h1>Horario &nbsp;<i id="arrows" class="fas fa-arrow-down fa-xs animated fadeInLeft"></i></h1>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="text-center text-white" id="centroContainer">
            <img id="logos" class="card-img" src="assets/img/logos.png">
            <h6>Escuela de danza autorizada por el Departament d'Educació de la Generalitat de Catalunya - Registro N° 08056183.<br> <br>Miembro de la Royal Academy of Dancing - Miembro de la Asociación de escuelas de danza autorizadas por la Generalitat
                de Catalunya.</h6>
        </div>
    </div>


</section>