<app-navbar-home></app-navbar-home>

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- post -->
            <div class="col-md-6">
                <div class="post post-thumb">
                    <div class="post-img2"><img src="assets/img/adulto2.jpg" alt=""></div>
                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category cat-2">Danza</a>
                            <span class="post-date">March 27, 2018</span>
                        </div>
                        <h3 class="post-title"><a>Como crear una coreografía de Danza Contemporanea</a></h3>
                    </div>
                </div>
            </div>
            <!-- /post -->

            <!-- post -->
            <div class="col-md-6">
                <div class="post post-thumb">
                    <a class="post-img2" href="blog-post.html"><img src="assets/img/dancer.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category cat-3" href="category.html">Ballet</a>
                            <span class="post-date text-dark">March 27, 2018</span>
                        </div>
                        <h3 class="post-title "><a class="text-danger">Mejores estilos de Ballet 2018</a></h3>
                    </div>
                </div>
            </div>
            <!-- /post -->
        </div>
        <!-- /row -->

        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>ÚLTIMOS ARTÍCULOS</h2>
                </div>
            </div>

            <!-- post -->
            <div class="col-md-4">
                <div class="post">
                    <a class="post-img2" href="blog-post.html"><img src="assets/img/colonias.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category cat-1" href="category.html">Colonias</a>
                            <span class="post-date">March 27, 2018</span>
                        </div>
                        <h3 class="post-title"><a href="blog-post.html">Colonias de Danza Verano 2018</a></h3>
                    </div>
                </div>
            </div>
            <!-- /post -->

            <!-- post -->
            <div class="col-md-4">
                <div class="post">
                    <a class="post-img2" href="blog-post.html"><img src="assets/img/danza.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category cat-2" href="category.html">Danza</a>
                            <span class="post-date">March 27, 2018</span>
                        </div>
                        <h3 class="post-title"><a href="blog-post.html">Intensivo de Danza Verano 2018</a></h3>
                    </div>
                </div>
            </div>
            <!-- /post -->

            <!-- post -->
            <div class="col-md-4">
                <div class="post">
                    <a class="post-img2" href="blog-post.html"><img src="assets/img/actuaciones.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category cat-3" href="category.html">Actuaciones</a>
                            <span class="post-date">March 27, 2018</span>
                        </div>
                        <h3 class="post-title"><a href="blog-post.html">Particicipacion de la Escuela de Danza Yisbell en el Día Internacional de la Danza</a></h3>
                    </div>
                </div>
            </div>
            <!-- /post -->

            <div class="clearfix visible-md visible-lg"></div>

            <!-- post -->
            <div class="col-md-4">
                <div class="post">
                    <a class="post-img2" href="blog-post.html"><img src="assets/img/danza2.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category cat-2" href="category.html">Danza</a>
                            <span class="post-date">March 27, 2018</span>
                        </div>
                        <h3 class="post-title"><a href="blog-post.html">Festival de Danza 2017 El Mago de OZ</a></h3>
                    </div>
                </div>
            </div>
            <!-- /post -->

            <!-- post -->
            <div class="col-md-4">
                <div class="post">
                    <a class="post-img2" href="blog-post.html"><img src="assets/img/danza3.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category cat-4" href="category.html">Cursos</a>
                            <span class="post-date">March 27, 2018</span>
                        </div>
                        <h3 class="post-title"><a href="blog-post.html">Curso Intensivo de Danza Verano 2017</a></h3>
                    </div>
                </div>
            </div>
            <!-- /post -->

            <!-- post -->
            <div class="col-md-4">
                <div class="post">
                    <a class="post-img2" href="blog-post.html"><img src="assets/img/claque.jpg" alt=""></a>
                    <div class="post-body">
                        <div class="post-meta">
                            <a class="post-category cat-1" href="category.html">Cursos</a>
                            <span class="post-date">March 27, 2018</span>
                        </div>
                        <h3 class="post-title"><a href="blog-post.html">¡Apúntate a nuestras divertidas clases de claqué!</a></h3>
                    </div>
                </div>
            </div>
            <!-- /post -->
        </div>
        <!-- /row -->

        <!-- row -->
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <!-- post -->
                    <div class="col-md-12">
                        <div class="post post-thumb">
                            <a class="post-img2" href="blog-post.html"><img src="assets/img/compañia.jpg" alt=""></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category cat-3" href="category.html">Compañía</a>
                                    <span class="post-date">March 27, 2018</span>
                                </div>
                                <h3 class="post-title"><a href="blog-post.html">Nuevos Miembros de la Compañía Yisbell Dance Company (YDC)</a></h3>
                            </div>
                        </div>
                    </div>
                    <!-- /post -->

                    <!-- post -->
                    <div class="col-md-6">
                        <div class="post">
                            <a class="post-img2" href="blog-post.html"><img src="assets/img/mexicana.jpg" alt=""></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category cat-4" href="category.html">Danza</a>
                                    <span class="post-date">March 27, 2018</span>
                                </div>
                                <h3 class="post-title"><a href="blog-post.html">Nuestra Profesora Anabel Pituelli en el espectaculo de danza Mexicaña</a></h3>
                            </div>
                        </div>
                    </div>
                    <!-- /post -->

                    <!-- post -->
                    <div class="col-md-6">
                        <div class="post">
                            <a class="post-img2" href="blog-post.html"><img src="assets/img/taller.jpg" alt=""></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category cat-1" href="category.html">Taller</a>
                                    <span class="post-date">March 27, 2018</span>
                                </div>
                                <h3 class="post-title"><a href="blog-post.html">Taller de respiración consciente y relajación para embarazadas</a></h3>
                            </div>
                        </div>
                    </div>
                    <!-- /post -->

                    <div class="clearfix visible-md visible-lg"></div>

                    <!-- post -->
                    <div class="col-md-6">
                        <div class="post">
                            <a class="post-img2" href="blog-post.html"><img src="assets/img/danza4.jpg" alt=""></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category cat-2" href="category.html">Danza</a>
                                    <span class="post-date">March 27, 2018</span>
                                </div>
                                <h3 class="post-title"><a href="blog-post.html">¿Te gustaría combinar la Danza con el Teatro?</a></h3>
                            </div>
                        </div>
                    </div>
                    <!-- /post -->

                    <!-- post -->
                    <div class="col-md-6">
                        <div class="post">
                            <a class="post-img2" href="blog-post.html"><img src="assets/img/summer.jpg" alt=""></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category cat-3" href="category.html">Cursos</a>
                                    <span class="post-date">March 27, 2018</span>
                                </div>
                                <h3 class="post-title"><a href="blog-post.html">Cursillo Intensivo de Verano 2015</a></h3>
                            </div>
                        </div>
                    </div>
                    <!-- /post -->

                    <div class="clearfix visible-md visible-lg"></div>

                    <!-- post -->
                    <div class="col-md-6">
                        <div class="post">
                            <a class="post-img2" href="blog-post.html"><img src="assets/img/musica.jpg" alt=""></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category cat-1" href="category.html">Música</a>
                                    <span class="post-date">March 27, 2018</span>
                                </div>
                                <h3 class="post-title"><a href="blog-post.html">Musical de Verano 2015</a></h3>
                            </div>
                        </div>
                    </div>
                    <!-- /post -->

                    <!-- post -->
                    <div class="col-md-6">
                        <div class="post">
                            <a class="post-img2" href="blog-post.html"><img src="assets/img/escuela.jpg" alt=""></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category cat-2" href="category.html">Televisión</a>
                                    <span class="post-date">March 27, 2018</span>
                                </div>
                                <h3 class="post-title"><a href="blog-post.html">La Escuela de Danza Yisbell colabora con la Marató de TV3 2015</a></h3>
                            </div>
                        </div>
                    </div>
                    <!-- /post -->
                </div>
            </div>

            <div class="col-md-4">
                <!-- post widget -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2>POPULARES</h2>
                    </div>

                    <div class="post post-widget">
                        <a class="post-img2" href="blog-post.html"><img src="assets/img/colonias.jpg" alt=""></a>
                        <div class="post-body">
                            <h3 class="post-title"><a href="blog-post.html">Colonias de Danza Verano 2018</a></h3>
                        </div>
                    </div>

                    <div class="post post-widget">
                        <a class="post-img2" href="blog-post.html"><img src="assets/img/actuaciones.jpg" alt=""></a>
                        <div class="post-body">
                            <h3 class="post-title"><a href="blog-post.html">Pagedraw UI Builder Turns Your Website Design Mockup Into Code Automatically</a></h3>
                        </div>
                    </div>

                    <div class="post post-widget">
                        <a class="post-img2" href="blog-post.html"><img src="assets/img/danza.jpg" alt=""></a>
                        <div class="post-body">
                            <h3 class="post-title"><a href="blog-post.html">Why Node.js Is The Coolest Kid On The Backend Development Block!</a></h3>
                        </div>
                    </div>

                    <div class="post post-widget">
                        <a class="post-img2" href="blog-post.html"><img src="assets/img/danza2.jpg" alt=""></a>
                        <div class="post-body">
                            <h3 class="post-title"><a href="blog-post.html">Tell-A-Tool: Guide To Web Design And Development Tools</a></h3>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /section -->
            <div class="col-md-12">
                <div class="section-row">
                    <button class="primary-button center-block">Ver Más</button>
                </div>
            </div>
            <app-footer></app-footer>